@tailwind base;
@tailwind components;
@tailwind utilities;

.box {
  padding-left: 3cm;
  padding-top: 1cm;
  padding-bottom: 5cm;
  padding-right: 3cm;
  color: white;
  background-color: rgb(38, 15, 58);
  border-radius: 8px;
  border: 1cm;
  border-color: blue;
  transition: background-color 0.4s ease,
    transform 0.4s ease,
    opacity 0.4s ease,
    color 0.4s ease;
}

.box:hover {
  transform: scale(1.05);
  opacity: 0.7;
  background-color: rgb(113, 31, 113);
  color: rgb(225, 163, 70);
}

.btn {
  background-color: indigo;
  color: white;
  padding-top: 2px;
  padding-bottom: 2px;
  padding-left: 16px;
  padding-right: 16px;
  border-radius: 5px;
  border: 8px;
  font-weight: 500;
  transition: opacity 0.4s ease,
  stroke 0.4s ease,
  scale 0.4s ease,
  background-color 0.4s ease;
}

.btn:hover {
  opacity: 0.7;
  background-color: rgb(85, 4, 160);
  color: rgb(186, 171, 108);
  stroke: bisque;
  transform: scale(1.05);
}